#logo-img{
	width: 180px;
	height: 34px;

}
#background{
	min-height: 96vh;
	width: 100%;
}
#forms{
	padding-top: 100px;
	float: right;

}

#signupform{
	display: none;
}
#loginbtn{
	display: none;
}
#nav-bar{
	background-color: rgb(156,172,191);
}
#search-input{
	 border-radius: 25px;
	 border: none;
	 box-shadow: none;
	 background-color: #f2f2f2;
	 width: 300px;
}
#userlogindrop{
	border: none;
	box-shadow: none;
}
#userAvatar{
	width: 30px;
	height: 30px;
	 border-radius: 50%;
}
@media (max-width: 576px){
	#logintext,#siguparea,#forms
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
